body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.led{
    list-style : none;
}

.led i{
    font-size : 40px;
}

.led.on i{   
    color:yellow;
}